/*Styles des barres de navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    columns: auto;
    gap: 1rem;
    background-color: rgb(3, 68, 110);
    padding: 1rem 2rem;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #00bcd4;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .menu li {
    margin: 0 0.5rem;
}

.navbar .menu-toggle {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar .menu {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #444;
    }

    .navbar .menu li {
        text-align: center;
        margin: 0.5rem 0;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar .menu.active {
        display: flex;
    }
}